<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome home page</h1>
    <form action="/analyze" method="get">
        <textarea name="text" id="" cols="30" rows="10" style="width: 1254px; height: 227px;">
        </textarea><br>
        <input type="checkbox" name="removepunc">remove punctuation
        <button type='submit'>Submit</button>
    </form>
</body>

</html>